<div class="container">
  <div class="jumbotron text-center">
    <h4>Help Bob pick a new burger of the day!</h4>
    <p>Help Bob make some new burgers of the day for this week please input your selections below! The Belchers thank you. </p>
  </div>

  <div class="row content-body">
    <header class="col-12">
      <h3>Suggested Burgers of The Day</h3>
    </header>
    {{#if burgers}}
    <div class="col-xs-12 col-md-6">
      <h3>Suggested</h3>
      <ul id="burgers-of-the-day">
        {{#each burgers}}
        <li class="{{className}}">
          <h5>{{id}}: {{name}}</h5>
          <button class="btn btn-primary devour" data-burger-id="{{id}}">Devour</button>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
    {{#if devoured}}
    <div class="col-xs-12 col-md-6">
      <h3>Devoured</h3>
      <ul id="devoured-burgers">
        {{#each devoured}}
        <li class="{{className}}">
          <h5>{{id}}: {{name}}</h5>
          <button class="btn btn-primary devour" data-burger-id="{{id}}">Devour</button>
        </li>
        {{/each}}
      </ul>
    </div>
    {{/if}}
  </div>

  <div class="row" id="suggestion-box">
    <div  class="col-12">
      <h4>Suggest a Burger</h4>
      <form id="burgerInput">
        <input name="burger" id="burgerSuggestion" type="text" placeholder="Say it don't spray it!">
        <input type="submit" value="submit">
        <label for="burger">Enter a burger you would want to eat. Then send it to the kitchen!</label>
      </form>
    </div>
  </div>
</div>
<footer class="p-3">
  <div>
    <p class="small">No copyright infringment intended. &copy; Whoever.</p>
  </div>
</footer>